body {
    background-color: #eee;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.grid {
    display: grid;  
    background-color: bisque;   
    grid-template-areas: "hd hd"
                         "ad ae"
                         "ad ae"
                         "ft ft";
    gap: 30px;                     

}

.header {
    grid-area: hd;
}

.aside {
    grid-area: ad;
}

.article {
    grid-area: ae;
}

.footer {
    grid-area: ft;
}